[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hts"]
	path = hts
	url = https://github.com/earowang/hts
[submodule "rwalkr"]
	path = rwalkr
	url = https://github.com/earowang/rwalkr
[submodule "sugrrants"]
	path = sugrrants
	url = https://github.com/earowang/sugrrants
[submodule "tsibbletalk"]
	path = tsibbletalk
	url = https://github.com/earowang/tsibbletalk
